/* Welcome CSS */

.welcomepage {
  height: 100%;
  width: 100%;
}

.welcomepage p {
  font-family: 'Abel',Arial,sans-serif;
  font-size: 55px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#fofone {
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
}

#foftwo {
  font-size: 3em;
  top: 65%;
  transform: translate(-50%, -300%);
}

/* Search CSS */

.searchpage {
  height: 100%;
  width: 100%;
}

.searchpage p {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 45px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -300%);
}

.searchpage button {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 33px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.searchpage input {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 25px;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.searchpage select {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 20px;
  position: absolute;
  width: 10%;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -90%);
}

/* Results & Catalog CSS */

.column {
  float: left;
  width: 33.16%;
  height: 12em;
  padding-bottom: 18em;
  /*border-style: solid;
  border-width: 1px;*/
}

.columncontainer:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 25px;
  text-align: center;
}

.box {
  width: 100%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.name {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.desc {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.row {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-size: 15px;
  padding-left: 15em;
  padding-right: 15em;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
